USE [master]
GO
/****** Object:  Database [QLBanVeXe]    Script Date: 5/15/2026 2:15:13 PM ******/
CREATE DATABASE [QLBanVeXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanVeXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLBanVeXe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBanVeXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLBanVeXe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanVeXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanVeXe]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[UserID] [int] NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [varchar](20) NOT NULL,
	[CustomerEmail] [varchar](100) NULL,
	[TotalSeats] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [varchar](20) NULL,
	[PaymentStatus] [varchar](20) NULL,
	[BookingDate] [datetime] NULL,
	[PickupStopID] [int] NULL,
	[DropoffStopID] [int] NULL,
	[CancelledAt] [datetime] NULL,
	[CancelReason] [nvarchar](300) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[PromotionID] [int] NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[BookingStatus] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[BusID] [int] IDENTITY(1,1) NOT NULL,
	[OperatorID] [int] NOT NULL,
	[LicensePlate] [varchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[BusType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[OperatorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ContactPhone] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[DiscountType] [tinyint] NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderValue] [decimal](18, 2) NULL,
	[MaxDiscount] [decimal](18, 2) NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TripID] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatHolds]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatHolds](
	[SeatHoldID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[SeatLabel] [varchar](10) NOT NULL,
	[UserID] [int] NULL,
	[SessionId] [varchar](100) NULL,
	[BookingID] [int] NULL,
	[HoldExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SeatHolds] PRIMARY KEY CLUSTERED 
(
	[SeatHoldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StopPoints]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StopPoints](
	[StopPointID] [int] IDENTITY(1,1) NOT NULL,
	[TripID] [int] NOT NULL,
	[StopName] [nvarchar](200) NOT NULL,
	[StopAddress] [nvarchar](300) NULL,
	[StopOrder] [int] NOT NULL,
	[StopType] [int] NOT NULL,
	[ArrivalOffset] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StopPoints] PRIMARY KEY CLUSTERED 
(
	[StopPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSeats]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSeats](
	[TicketSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[SeatLabel] [varchar](10) NOT NULL,
	[QRCode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[TripID] [int] IDENTITY(1,1) NOT NULL,
	[BusID] [int] NOT NULL,
	[DepartureLocation] [nvarchar](100) NOT NULL,
	[ArrivalLocation] [nvarchar](100) NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AvailableSeats] [int] NOT NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/15/2026 2:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [TripID], [UserID], [CustomerName], [CustomerPhone], [CustomerEmail], [TotalSeats], [TotalPrice], [PaymentMethod], [PaymentStatus], [BookingDate], [PickupStopID], [DropoffStopID], [CancelledAt], [CancelReason], [RefundAmount], [PromotionID], [DiscountAmount], [BookingStatus]) VALUES (1, 1, 1, N'Nguyễn Minh Anh', N'0901123456', N'minhanh.nguyen@example.com', 2, CAST(590000.00 AS Decimal(18, 2)), N'VNPay', N'Paid', CAST(N'2026-05-10T09:30:00.000' AS DateTime), 1, 3, NULL, NULL, NULL, 1, CAST(50000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Bookings] ([BookingID], [TripID], [UserID], [CustomerName], [CustomerPhone], [CustomerEmail], [TotalSeats], [TotalPrice], [PaymentMethod], [PaymentStatus], [BookingDate], [PickupStopID], [DropoffStopID], [CancelledAt], [CancelReason], [RefundAmount], [PromotionID], [DiscountAmount], [BookingStatus]) VALUES (2, 2, 2, N'Trần Quốc Huy', N'0912233445', N'quochuy.tran@example.com', 1, CAST(360000.00 AS Decimal(18, 2)), N'Momo', N'Paid', CAST(N'2026-05-11T20:15:00.000' AS DateTime), 4, 6, NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Bookings] ([BookingID], [TripID], [UserID], [CustomerName], [CustomerPhone], [CustomerEmail], [TotalSeats], [TotalPrice], [PaymentMethod], [PaymentStatus], [BookingDate], [PickupStopID], [DropoffStopID], [CancelledAt], [CancelReason], [RefundAmount], [PromotionID], [DiscountAmount], [BookingStatus]) VALUES (3, 3, 3, N'Lê Hoàng Nam', N'0933344556', N'hoangnam.le@example.com', 3, CAST(486000.00 AS Decimal(18, 2)), N'VNPay', N'Paid', CAST(N'2026-05-12T08:40:00.000' AS DateTime), 7, 9, NULL, NULL, NULL, 2, CAST(54000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([BusID], [OperatorID], [LicensePlate], [Capacity], [BusType]) VALUES (1, 1, N'51B-123.45', 34, N'Giường nằm 34 chỗ')
INSERT [dbo].[Buses] ([BusID], [OperatorID], [LicensePlate], [Capacity], [BusType]) VALUES (2, 1, N'51B-678.90', 22, N'Limousine 22 phòng')
INSERT [dbo].[Buses] ([BusID], [OperatorID], [LicensePlate], [Capacity], [BusType]) VALUES (3, 2, N'50F-246.80', 40, N'Giường nằm 40 chỗ')
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [IsRead], [CreatedAt]) VALUES (1, 1, N'Đặt vé thành công', N'Vé tuyến TP. Hồ Chí Minh - Đà Lạt của bạn đã được thanh toán thành công.', 1, 1, CAST(N'2026-05-10T09:31:00.000' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [IsRead], [CreatedAt]) VALUES (2, 2, N'Thanh toán thành công', N'Bạn đã thanh toán thành công vé tuyến TP. Hồ Chí Minh - Nha Trang.', 1, 1, CAST(N'2026-05-11T20:16:00.000' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [IsRead], [CreatedAt]) VALUES (3, 3, N'Ưu đãi mùa hè', N'Nhập mã SUMMER10 để giảm giá cho các chuyến xe trong tháng này.', 2, 0, CAST(N'2026-05-12T08:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Operators] ON 

INSERT [dbo].[Operators] ([OperatorID], [Name], [Description], [ContactPhone], [Email]) VALUES (1, N'Phương Trang FUTA Bus Lines', N'Nhà xe đường dài phủ rộng nhiều tỉnh thành, dịch vụ xe giường nằm và limousine.', N'19006067', N'hotro@futabus.vn')
INSERT [dbo].[Operators] ([OperatorID], [Name], [Description], [ContactPhone], [Email]) VALUES (2, N'Thành Bưởi', N'Nhà xe chuyên tuyến TP. Hồ Chí Minh - Đà Lạt - Cần Thơ.', N'19006079', N'cskh@thanhbuoi.vn')
INSERT [dbo].[Operators] ([OperatorID], [Name], [Description], [ContactPhone], [Email]) VALUES (3, N'Hải Vân Express', N'Nhà xe chất lượng cao khai thác các tuyến miền Bắc và miền Trung.', N'19006763', N'contact@haivanexpress.vn')
SET IDENTITY_INSERT [dbo].[Operators] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxDiscount], [UsageLimit], [UsedCount], [StartDate], [EndDate], [IsActive], [IsPublic], [UserID]) VALUES (1, N'WELCOME50', 1, CAST(50000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), 500, 12, CAST(N'2026-05-01T00:00:00.000' AS DateTime), CAST(N'2026-06-30T23:59:59.000' AS DateTime), 1, 1, NULL)
INSERT [dbo].[Promotions] ([PromotionID], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxDiscount], [UsageLimit], [UsedCount], [StartDate], [EndDate], [IsActive], [IsPublic], [UserID]) VALUES (2, N'SUMMER10', 2, CAST(10.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(80000.00 AS Decimal(18, 2)), 300, 35, CAST(N'2026-05-10T00:00:00.000' AS DateTime), CAST(N'2026-07-15T23:59:59.000' AS DateTime), 1, 1, NULL)
INSERT [dbo].[Promotions] ([PromotionID], [Code], [DiscountType], [DiscountValue], [MinOrderValue], [MaxDiscount], [UsageLimit], [UsedCount], [StartDate], [EndDate], [IsActive], [IsPublic], [UserID]) VALUES (3, N'DALAT20', 2, CAST(20.00 AS Decimal(18, 2)), CAST(400000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 150, 18, CAST(N'2026-05-01T00:00:00.000' AS DateTime), CAST(N'2026-05-31T23:59:59.000' AS DateTime), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [UserID], [TripID], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 1, 1, 5, N'Đặt vé nhanh, xe sạch và chạy đúng giờ.', CAST(N'2026-05-16T21:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [UserID], [TripID], [Rating], [Comment], [CreatedAt]) VALUES (2, 2, 2, 2, 4, N'Ghế nằm thoải mái, tài xế chạy ổn.', CAST(N'2026-05-17T09:15:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [BookingID], [UserID], [TripID], [Rating], [Comment], [CreatedAt]) VALUES (3, 3, 3, 3, 5, N'Tuyến Cần Thơ rất tiện, nhân viên hỗ trợ tốt.', CAST(N'2026-05-17T18:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatHolds] ON 

INSERT [dbo].[SeatHolds] ([SeatHoldID], [TripID], [SeatLabel], [UserID], [SessionId], [BookingID], [HoldExpiresAt], [CreatedAt], [Status]) VALUES (1, 1, N'A03', 1, N'sess-001', NULL, CAST(N'2026-05-14T16:20:00.000' AS DateTime), CAST(N'2026-05-14T16:05:00.000' AS DateTime), N'Holding')
INSERT [dbo].[SeatHolds] ([SeatHoldID], [TripID], [SeatLabel], [UserID], [SessionId], [BookingID], [HoldExpiresAt], [CreatedAt], [Status]) VALUES (2, 1, N'A04', NULL, N'guest-abc-001', NULL, CAST(N'2026-05-14T16:25:00.000' AS DateTime), CAST(N'2026-05-14T16:10:00.000' AS DateTime), N'Holding')
INSERT [dbo].[SeatHolds] ([SeatHoldID], [TripID], [SeatLabel], [UserID], [SessionId], [BookingID], [HoldExpiresAt], [CreatedAt], [Status]) VALUES (3, 2, N'B05', 2, N'sess-002', 2, CAST(N'2026-05-11T20:30:00.000' AS DateTime), CAST(N'2026-05-11T20:15:00.000' AS DateTime), N'ConvertedToBooking')
SET IDENTITY_INSERT [dbo].[SeatHolds] OFF
GO
SET IDENTITY_INSERT [dbo].[StopPoints] ON 

INSERT [dbo].[StopPoints] ([StopPointID], [TripID], [StopName], [StopAddress], [StopOrder], [StopType], [ArrivalOffset], [IsActive]) VALUES (1, 1, N'Bến xe TP. Hồ Chí Minh', N'Trung tâm TP. Hồ Chí Minh', 1, 1, 0, 1)
INSERT [dbo].[StopPoints] ([StopPointID], [TripID], [StopName], [StopAddress], [StopOrder], [StopType], [ArrivalOffset], [IsActive]) VALUES (2, 1, N'Trạm dừng giữa tuyến TP. Hồ Chí Minh - Đà Lạt', N'Quốc lộ chính tuyến TP. Hồ Chí Minh - Đà Lạt', 2, 3, 180, 1)
INSERT [dbo].[StopPoints] ([StopPointID], [TripID], [StopName], [StopAddress], [StopOrder], [StopType], [ArrivalOffset], [IsActive]) VALUES (3, 1, N'Bến xe Đà Lạt', N'Trung tâm Đà Lạt', 3, 2, 360, 1)
SET IDENTITY_INSERT [dbo].[StopPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketSeats] ON 

INSERT [dbo].[TicketSeats] ([TicketSeatID], [BookingID], [SeatLabel], [QRCode]) VALUES (1, 1, N'A01', N'QR-BK001-A01')
INSERT [dbo].[TicketSeats] ([TicketSeatID], [BookingID], [SeatLabel], [QRCode]) VALUES (2, 1, N'A02', N'QR-BK001-A02')
INSERT [dbo].[TicketSeats] ([TicketSeatID], [BookingID], [SeatLabel], [QRCode]) VALUES (3, 2, N'B05', N'QR-BK002-B05')
SET IDENTITY_INSERT [dbo].[TicketSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([TripID], [BusID], [DepartureLocation], [ArrivalLocation], [DepartureTime], [ArrivalTime], [Price], [AvailableSeats], [Status]) VALUES (1, 1, N'TP. Hồ Chí Minh', N'Đà Lạt', CAST(N'2026-05-16T07:00:00.000' AS DateTime), CAST(N'2026-05-16T14:00:00.000' AS DateTime), CAST(320000.00 AS Decimal(18, 2)), 28, N'Scheduled')
INSERT [dbo].[Trips] ([TripID], [BusID], [DepartureLocation], [ArrivalLocation], [DepartureTime], [ArrivalTime], [Price], [AvailableSeats], [Status]) VALUES (2, 2, N'TP. Hồ Chí Minh', N'Nha Trang', CAST(N'2026-05-16T21:30:00.000' AS DateTime), CAST(N'2026-05-17T05:30:00.000' AS DateTime), CAST(360000.00 AS Decimal(18, 2)), 18, N'Scheduled')
INSERT [dbo].[Trips] ([TripID], [BusID], [DepartureLocation], [ArrivalLocation], [DepartureTime], [ArrivalTime], [Price], [AvailableSeats], [Status]) VALUES (3, 3, N'TP. Hồ Chí Minh', N'Cần Thơ', CAST(N'2026-05-17T08:00:00.000' AS DateTime), CAST(N'2026-05-17T11:30:00.000' AS DateTime), CAST(180000.00 AS Decimal(18, 2)), 35, N'Scheduled')
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Nguyễn Minh Anh', N'minhanh.nguyen@example.com', N'0901123456', N'123456', N'Customer', CAST(N'2026-04-10T08:15:00.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'Trần Quốc Huy', N'quochuy.tran@example.com', N'0912233445', N'123456', N'Customer', CAST(N'2026-04-12T09:20:00.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Phone], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'Lê Hoàng Nam', N'hoangnam.le@example.com', N'0933344556', N'123456', N'Customer', CAST(N'2026-04-15T10:05:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buses__026BC15C1EA720B6]    Script Date: 5/15/2026 2:15:14 PM ******/
ALTER TABLE [dbo].[Buses] ADD UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserID]    Script Date: 5/15/2026 2:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserID] ON [dbo].[Notifications]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PromoCode]    Script Date: 5/15/2026 2:15:14 PM ******/
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [UQ_PromoCode] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Reviews_Booking]    Script Date: 5/15/2026 2:15:14 PM ******/
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [UQ_Reviews_Booking] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SeatHolds_HoldExpiresAt_Status]    Script Date: 5/15/2026 2:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeatHolds_HoldExpiresAt_Status] ON [dbo].[SeatHolds]
(
	[HoldExpiresAt] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SeatHolds_TripID_Status]    Script Date: 5/15/2026 2:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeatHolds_TripID_Status] ON [dbo].[SeatHolds]
(
	[TripID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_SeatHolds_Trip_Seat_Holding]    Script Date: 5/15/2026 2:15:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SeatHolds_Trip_Seat_Holding] ON [dbo].[SeatHolds]
(
	[TripID] ASC,
	[SeatLabel] ASC
)
WHERE ([Status]='Holding')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StopPoints_TripID]    Script Date: 5/15/2026 2:15:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_StopPoints_TripID] ON [dbo].[StopPoints]
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Trip_Seat]    Script Date: 5/15/2026 2:15:14 PM ******/
ALTER TABLE [dbo].[TicketSeats] ADD  CONSTRAINT [UQ_Trip_Seat] UNIQUE NONCLUSTERED 
(
	[BookingID] ASC,
	[SeatLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5C7E359E91093EFC]    Script Date: 5/15/2026 2:15:14 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C387D176]    Script Date: 5/15/2026 2:15:14 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('VNPay') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((1)) FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [DiscountType]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SeatHolds] ADD  CONSTRAINT [DF_SeatHolds_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SeatHolds] ADD  CONSTRAINT [DF_SeatHolds_Status]  DEFAULT ('Holding') FOR [Status]
GO
ALTER TABLE [dbo].[StopPoints] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Dropoff] FOREIGN KEY([DropoffStopID])
REFERENCES [dbo].[StopPoints] ([StopPointID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Dropoff]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Pickup] FOREIGN KEY([PickupStopID])
REFERENCES [dbo].[StopPoints] ([StopPointID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Pickup]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Promotions]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD FOREIGN KEY([OperatorID])
REFERENCES [dbo].[Operators] ([OperatorID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_Users]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Bookings]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Trips] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Trips]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [FK_SeatHolds_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [FK_SeatHolds_Bookings]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [FK_SeatHolds_Trips] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [FK_SeatHolds_Trips]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [FK_SeatHolds_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [FK_SeatHolds_Users]
GO
ALTER TABLE [dbo].[StopPoints]  WITH CHECK ADD  CONSTRAINT [FK_StopPoints_Trips] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([TripID])
GO
ALTER TABLE [dbo].[StopPoints] CHECK CONSTRAINT [FK_StopPoints_Trips]
GO
ALTER TABLE [dbo].[TicketSeats]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD FOREIGN KEY([BusID])
REFERENCES [dbo].[Buses] ([BusID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_NotiType] CHECK  (([Type]=(4) OR [Type]=(3) OR [Type]=(2) OR [Type]=(1)))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_NotiType]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_DiscountType] CHECK  (([DiscountType]=(2) OR [DiscountType]=(1)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_DiscountType]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Rating]
GO
ALTER TABLE [dbo].[SeatHolds]  WITH CHECK ADD  CONSTRAINT [CK_SeatHolds_Status] CHECK  (([Status]='ConvertedToBooking' OR [Status]='Expired' OR [Status]='Released' OR [Status]='Holding'))
GO
ALTER TABLE [dbo].[SeatHolds] CHECK CONSTRAINT [CK_SeatHolds_Status]
GO
ALTER TABLE [dbo].[StopPoints]  WITH CHECK ADD  CONSTRAINT [CK_StopType] CHECK  (([StopType]=(3) OR [StopType]=(2) OR [StopType]=(1)))
GO
ALTER TABLE [dbo].[StopPoints] CHECK CONSTRAINT [CK_StopType]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD CHECK  (([Status]='On-going' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Operator' OR [Role]='Admin' OR [Role]='Customer'))
GO
USE [master]
GO
